body{
    font-family: 'Arima Madurai', cursive;
    color: mediumvioletred;
    font-weight: 300;
}

.text-muted{
    color: #5bc0de;
}

.text-thin{
    font-weight: 100;
}

.title-super{
    font-size: 68px;
}

.header{
    margin-top: 20px;
}

.modal-body{
    font-size: 16px;
}

.modal-header, .modal-footer{
    color: #5bc0de;
}


@media screen and (max-width: 991px) {
    .title-super{
        font-size: 34px;
    }
    .modal-body{
    font-size: 14px;
    }
    .title-logo{
        max-width: 102px;
        max-height: 102px;
    }
    .subtitle{
        font-size: 18px;
    }
    .text-muted{
        font-size: 23px;
    }

}